.wp-block-ko-fi-button-kofi-button {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	&--align-left {
		text-align: left;
	}
	&--align-center {
		text-align: center;
	}
	&--align-right {
		text-align: right;
	}
}
